# LAMBDA FUNCTION
Lambda functions are the functions are the anonmous function that haven't any name. These functions always written in the one line, that not spin on multiple lines

In [1]:
#syntax

'''lambda input : rest code expression'''

'lambda input : rest code expression'

In [11]:
#Example
x1=lambda x:x**2
print(x1(3))

9

In [18]:
a=lambda x,y:x+y
a(9,2)

11

In [15]:
type(a)

function

### Difference between normal functions & Lambda functions

1. Lambda has no return value like normal function.
2. Lambda function consist only one line while normal function take multiple lines.
3. Lambda function haven't any name.

In [22]:
a=lambda x: x[0]=="M"
print(a("Muharraf"))

print(a("Maheen"))
print(a("Ali"))

True
True
False

In [23]:
a=lambda x:print("Even") if x%2==0 else print("odd")
a(4)

Even

In [24]:
a(13)

odd

### Use Case of Lambda Functions
lambda functions are most commonly used with higher order functions because HOFs often need a small, throwaway function as an argument

### Higher Order Functions
A higher order function is a function that either takes one or more functions as arguments, or returns a new function as its result â€” or does both.

In [29]:
#normal function

#Find the sum of all even in list
#Find the sum of all odd number in list
# Find the sum of all numbers that are divisible by three
l=[11,14,21,23,56,78,45,29,28,27,15,9]
def return_sum(l):
    even_sum=0
    odd_sum=0
    div3_sum=0
    for i in l:
        if i%2==0:
            even_sum+=i
        if i%2==1:
            odd_sum+=i
        if i%3==0:
            div3_sum+=i
    return even_sum,odd_sum,div3_sum
    
return_sum(l)

(176, 180, 195)

In [31]:
#Higher Order Function ------> Perform addition on the condition
l=[11,14,21,23,56,78,45,29,28,27,15,9]

def return_sum(fuct,l):
    result=0
    for i in l:
        if fuct(i):
            result+=i
    return result

x=lambda x:x%2==0
y=lambda y:y%2==1
z=lambda z:z%3==0

print(return_sum(x,l))
print(return_sum(y,l))
print(return_sum(z,l))

176
180
195

Higher Order Functions Of Python


*   Map
*   Filter
*   Reduce

#### Map:
applies a given function to every element on given iterable (like a list, tuple, etc.) and returns a map object (which can be converted to list, set, etc.).

In [32]:
#Syntax

'''map(function, iterable)'''

'map(function, iterable)'

In [2]:
l=[1,2,3,4,5,6,7]
print(map(lambda x:x**2,l)) 
# Can't see the map function output directly, so yo have to convert it into list


print(list(map(lambda x:x**2,l)))

<map object at 0x000001D2ADBF3430>
[1, 4, 9, 16, 25, 36, 49]

In [12]:
# Iterating the name through map function
students=[
     {
    "name":"Abdul Rehman",
    "Score": 90
      },

{
    "name":"Abdullah Zeeshan",
    "Score":80
    },

{
    "name":"Ameen",
    "Score":70
   }

]
list(map(lambda x:x["name"],students))

['Abdul Rehman', 'Abdullah Zeeshan', 'Ameen']

In [11]:
list(map(lambda x:x["Score"],students))

[90, 80, 70]

#### Filter:

used to filter elements from an iterable (like list, tuple, set) based on a condition.

It only keeps the elements for which the given function returns True.

In [14]:
# Filter Example ----> Return the elements if they are greater than four
l=[1,2,3,4,5,6,7,8,9,10]
print(list(filter(lambda x:x>4,l)))

[5, 6, 7, 8, 9, 10]

In [16]:
print(list(map(lambda x:x>4,l))) #if you use map instead of filter function return only boolean value of condition

[False, False, False, False, True, True, True, True, True, True]

In [23]:
# Return the element from list that have "e" in their name using filter function
name=['Ahmed','Saleem','Faheem','Dayan','Zeeshan','Sarim','Amaniya']
print(list(filter(lambda i:'e' in i,name)))

['Ahmed', 'Saleem', 'Faheem', 'Zeeshan']

#### Reduce:

The reduce() function (from the functools module) applies a function cumulatively to the items of an iterable, from left to right, so as to reduce the iterable to a single value.

#####Trace:

Sum of [1, 2, 3, 4]

start: first two items taken as initial pair: (1, 2)
call -> 1 + 2 = 3 (accumulator = 3)

next item 3: call -> 3 + 3 = 6 (accumulator = 6)

next item 4: call -> 6 + 4 = 10 (accumulator = 10)

Final result = 10

In [25]:
#Reduce Example ----> Add cumulatively
from functools import reduce
l=[1,2,3,4,5,6,7,8,9,10]
reduce(lambda x,y: x+y,l)

55

In [27]:
# Find greatest number in list by reduce function

l=[1,2,3,4,5,6,7,8,9,10]
reduce(lambda x,y: x if  x>y else y,l)

10

In [28]:
# Find smallest number in list by reduce function

l=[1,2,3,4,5,6,7,8,9,10]
reduce(lambda x,y: x if  x<y else y,l)

1

In [29]:
# Multiply commulatively
l=[2,3,4,5,6,7,8,9,10]
reduce(lambda x,y:x*y,l)

3628800